<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Sunskiff</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <header id="MainHeader">
      <div class="container">
        <h1>Coding Challenges</h1>
      </div>
    </header>

    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href="/", "/home">Home</a></li>
          <li><a href="login">Log In</a></li>
          <li><a href="register">Sign Up</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1>Welcome!</h1>
      <p>This is a web application created by John Burns and Rachel Burns.</p>
    </div>

    <footer id="homePageFooter">
      <p>Copyright &copy; 2019 Sunskiff LLC</p>
    </footer>

  </body>
</html>
