{% extends 'layout.html' %}
{% block main %}

    <div class="Form">

      <h1>Sign In</h1>

      <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class="Form-Item">{{ form.email.label }}</div>
        <div class="Form-Item">{{ form.email }}</div>
        <div class="Form-Item">{{ form.password.label }}</div>
        <div class="Form-Item">{{ form.password }}</div>
        <div class="Form-Item">{{ form.remember }}{{ form.remember.label }}</div>
        <div class="Form-Item"><input class="button" id="submit" name="submit" type="submit" value="Login"></div>
      </form>

      <div class="Form-Item">
        <small><a href=" {{ url_for('register') }} ">Don't Have An Account?</a></small>
      </div>

    </div>

{% endblock %}
