{% extends 'layout.html' %}
{% block main %}

    <div class="Form">

      <h1>New Account</h1>

      <form method="POST">
        {{ form.csrf_token() }}
        <div class="Form-Item">{{ form.username.label }}</div>
        <div class="Form-Item">{{ form.username }}</div>
        <div class="Form-Item">{{ form.email.label }}</div>
        <div class="Form-Item">{{ form.email }}</div>
        <div class="Form-Item">{{ form.password.label }}</div>
        <div class="Form-Item">{{ form.password }}</div>
        <div class="Form-Item">{{ form.confirm_password.label }}</div>
        <div class="Form-Item">{{ form.confirm_password }}</div>
        <div class="Form-Item"><input class="button" id="submit" name="submit" type="submit" value="Sign Up"></div>
      </form>

      <div class="Form-Item">
        <small><a href=" {{ url_for('login') }} ">Already Have An Account?</a></small>
      </div>

    </div>
  </div>

{% endblock %}
